In [1]:
from math import floor, ceil, sqrt

In [2]:
import pandas as pd
from oeis.sequence import OEIS_Sequence
from oeis.sequence import OEIS_URL
from matplotlib import pyplot as plt

# Secuencias con término general:

$$a(n) = \left \lfloor \frac{{n}^{2}}{k} \right \rfloor$$

$$\sum_{s=0}^{k-1}{\sum_{m=[s^2 \lt k]}^{\infty}\frac{1}{\left\lfloor\frac{{(k m + s)}^{2}}{k}\right\rfloor}}$$

In [3]:
K = 3

def f(m, k=K):
    return floor((m ** 2) / k)

for s in range(0, K):
    seq = [f(K * m + s) for m in range(s ** 2 < K, 30)]
    print(seq)

[3, 12, 27, 48, 75, 108, 147, 192, 243, 300, 363, 432, 507, 588, 675, 768, 867, 972, 1083, 1200, 1323, 1452, 1587, 1728, 1875, 2028, 2187, 2352, 2523]
[5, 16, 33, 56, 85, 120, 161, 208, 261, 320, 385, 456, 533, 616, 705, 800, 901, 1008, 1121, 1240, 1365, 1496, 1633, 1776, 1925, 2080, 2241, 2408, 2581]
[1, 8, 21, 40, 65, 96, 133, 176, 225, 280, 341, 408, 481, 560, 645, 736, 833, 936, 1045, 1160, 1281, 1408, 1541, 1680, 1825, 1976, 2133, 2296, 2465, 2640]

In [4]:
print([f(x, k=2) for x in range(1, 30)])

[0, 2, 4, 8, 12, 18, 24, 32, 40, 50, 60, 72, 84, 98, 112, 128, 144, 162, 180, 200, 220, 242, 264, 288, 312, 338, 364, 392, 420]

In [5]:
MAX_TERMS = 20

# Comprobación del límite inferior de la suma
for k in range(1, 10 + 1):
    seq = [f(x, k) for x in range(ceil(sqrt(k)), ceil(sqrt(k)) + MAX_TERMS)]
    print(k, f(ceil(sqrt(k))), seq)

1 0 [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
2 1 [2, 4, 8, 12, 18, 24, 32, 40, 50, 60, 72, 84, 98, 112, 128, 144, 162, 180, 200, 220]
3 1 [1, 3, 5, 8, 12, 16, 21, 27, 33, 40, 48, 56, 65, 75, 85, 96, 108, 120, 133, 147]
4 1 [1, 2, 4, 6, 9, 12, 16, 20, 25, 30, 36, 42, 49, 56, 64, 72, 81, 90, 100, 110]
5 3 [1, 3, 5, 7, 9, 12, 16, 20, 24, 28, 33, 39, 45, 51, 57, 64, 72, 80, 88, 96]
6 3 [1, 2, 4, 6, 8, 10, 13, 16, 20, 24, 28, 32, 37, 42, 48, 54, 60, 66, 73, 80]
7 3 [1, 2, 3, 5, 7, 9, 11, 14, 17, 20, 24, 28, 32, 36, 41, 46, 51, 57, 63, 69]
8 3 [1, 2, 3, 4, 6, 8, 10, 12, 15, 18, 21, 24, 28, 32, 36, 40, 45, 50, 55, 60]
9 3 [1, 1, 2, 4, 5, 7, 9, 11, 13, 16, 18, 21, 25, 28, 32, 36, 40, 44, 49, 53]
10 5 [1, 2, 3, 4, 6, 8, 10, 12, 14, 16, 19, 22, 25, 28, 32, 36, 40, 44, 48, 52]

## Crear una tabla con las secuencias de OEIS

In [6]:
SEQ_LIST = ['A000290', 'A007590', 'A000212',
            'A002620', 'A118015', 'A056827',
            'A056834', 'A130519', 'A056838',
            'A056865']

In [7]:
def formula_latex(k, floor=True):
    latex = r"$$\left\lfloor\frac{n^2}{" + str(k) + r"}\right\rfloor$$"
    if not floor:
        latex = latex.replace("floor", "ceil") 
    return latex

def oeis_md_link(id_):
    return f'[{id_}]({OEIS_URL}{id_})'

In [8]:
series_table = pd.DataFrame(columns= ['k',
                             'Secuencia',
                             'Fórmula',
                             'Descripción',
                             'Términos'])
MAX_TERMS = 15


for num, id_ in enumerate(SEQ_LIST):
    Seq = OEIS_Sequence(id_)
    series_table = series_table.append({'k': num + 1,
                                        'Secuencia': oeis_md_link(id_),
                                        'Fórmula': formula_latex(num + 1),
                                        'Descripción': Seq.description,
                                        'Términos': Seq.terms[:MAX_TERMS]
                                       }, ignore_index=True)

In [9]:
series_table

,k,Secuencia,Fórmula,Descripción,Términos
0,1,[A000290](http://oeis.org/A000290),$$\left\lfloor\frac{n^2}{1}\right\rfloor$$,The squares: a(n) = n^2.,"[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121,..."
1,2,[A007590](http://oeis.org/A007590),$$\left\lfloor\frac{n^2}{2}\right\rfloor$$,a(n) = floor(n^2/2).,"[0, 0, 2, 4, 8, 12, 18, 24, 32, 40, 50, 60, 72..."
2,3,[A000212](http://oeis.org/A000212),$$\left\lfloor\frac{n^2}{3}\right\rfloor$$,a(n) = floor(n^2/3).,"[0, 0, 1, 3, 5, 8, 12, 16, 21, 27, 33, 40, 48,..."
3,4,[A002620](http://oeis.org/A002620),$$\left\lfloor\frac{n^2}{4}\right\rfloor$$,Quarter-squares: floor(n/2)*ceiling(n/2). Equi...,"[0, 0, 1, 2, 4, 6, 9, 12, 16, 20, 25, 30, 36, ..."
4,5,[A118015](http://oeis.org/A118015),$$\left\lfloor\frac{n^2}{5}\right\rfloor$$,a(n) = floor(n^2/5).,"[0, 0, 0, 1, 3, 5, 7, 9, 12, 16, 20, 24, 28, 3..."
5,6,[A056827](http://oeis.org/A056827),$$\left\lfloor\frac{n^2}{6}\right\rfloor$$,a(n) = floor(n^2/6).,"[0, 0, 0, 1, 2, 4, 6, 8, 10, 13, 16, 20, 24, 2..."
6,7,[A056834](http://oeis.org/A056834),$$\left\lfloor\frac{n^2}{7}\right\rfloor$$,a(n) = floor(n^2/7).,"[0, 0, 0, 1, 2, 3, 5, 7, 9, 11, 14, 17, 20, 24..."
7,8,[A130519](http://oeis.org/A130519),$$\left\lfloor\frac{n^2}{8}\right\rfloor$$,a(n) = Sum_{k=0..n} floor(k/4). (Partial sums ...,"[0, 0, 0, 0, 1, 2, 3, 4, 6, 8, 10, 12, 15, 18,..."
8,9,[A056838](http://oeis.org/A056838),$$\left\lfloor\frac{n^2}{9}\right\rfloor$$,a(n) = floor(n^2/9).,"[0, 0, 0, 1, 1, 2, 4, 5, 7, 9, 11, 13, 16, 18,..."
9,10,[A056865](http://oeis.org/A056865),$$\left\lfloor\frac{n^2}{10}\right\rfloor$$,a(n) = floor(n^2/10).,"[0, 0, 0, 0, 1, 2, 3, 4, 6, 8, 10, 12, 14, 16,..."

In [10]:
# Tabla en markdown para incluir en el capítulo
print(series_table.to_markdown(index=False))

|   k | Secuencia                          | Fórmula                                     | Descripción                                                           | Términos                                                      |
|----:|:-----------------------------------|:--------------------------------------------|:----------------------------------------------------------------------|:--------------------------------------------------------------|
|   1 | [A000290](http://oeis.org/A000290) | $$\left\lfloor\frac{n^2}{1}\right\rfloor$$  | The squares: a(n) = n^2.                                              | [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196] |
|   2 | [A007590](http://oeis.org/A007590) | $$\left\lfloor\frac{n^2}{2}\right\rfloor$$  | a(n) = floor(n^2/2).                                                  | [0, 0, 2, 4, 8, 12, 18, 24, 32, 40, 50, 60, 72, 84, 98]       |
|   3 | [A000212](http://oeis.org/A000212) | $$\left\lfloor\frac{n^2}{3}\right\rfloor$$  | a(n) = floor(n^2/3).                                                  | [0, 0, 1, 3, 5, 8, 12, 16, 21, 27, 33, 40, 48, 56, 65]        |
|   4 | [A002620](http://oeis.org/A002620) | $$\left\lfloor\frac{n^2}{4}\right\rfloor$$  | Quarter-squares: floor(n/2)*ceiling(n/2). Equivalently, floor(n^2/4). | [0, 0, 1, 2, 4, 6, 9, 12, 16, 20, 25, 30, 36, 42, 49]         |
|   5 | [A118015](http://oeis.org/A118015) | $$\left\lfloor\frac{n^2}{5}\right\rfloor$$  | a(n) = floor(n^2/5).                                                  | [0, 0, 0, 1, 3, 5, 7, 9, 12, 16, 20, 24, 28, 33, 39]          |
|   6 | [A056827](http://oeis.org/A056827) | $$\left\lfloor\frac{n^2}{6}\right\rfloor$$  | a(n) = floor(n^2/6).                                                  | [0, 0, 0, 1, 2, 4, 6, 8, 10, 13, 16, 20, 24, 28, 32]          |
|   7 | [A056834](http://oeis.org/A056834) | $$\left\lfloor\frac{n^2}{7}\right\rfloor$$  | a(n) = floor(n^2/7).                                                  | [0, 0, 0, 1, 2, 3, 5, 7, 9, 11, 14, 17, 20, 24, 28]           |
|   8 | [A130519](http://oeis.org/A130519) | $$\left\lfloor\frac{n^2}{8}\right\rfloor$$  | a(n) = Sum_{k=0..n} floor(k/4). (Partial sums of A002265.)            | [0, 0, 0, 0, 1, 2, 3, 4, 6, 8, 10, 12, 15, 18, 21]            |
|   9 | [A056838](http://oeis.org/A056838) | $$\left\lfloor\frac{n^2}{9}\right\rfloor$$  | a(n) = floor(n^2/9).                                                  | [0, 0, 0, 1, 1, 2, 4, 5, 7, 9, 11, 13, 16, 18, 21]            |
|  10 | [A056865](http://oeis.org/A056865) | $$\left\lfloor\frac{n^2}{10}\right\rfloor$$ | a(n) = floor(n^2/10).                                                 | [0, 0, 0, 0, 1, 2, 3, 4, 6, 8, 10, 12, 14, 16, 19]            |